@model IEnumerable<BuyerViewModel>

@{
    ViewBag.Title = "GetAllBuyersAsync";
}

<h2>GetAllBuyersAsync</h2>

<p>
    @Html.ActionLink("Create New", "AddBuyerAsync")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalIdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalIdentificationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketId)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateBuyerAsync", new { id=item.Id }) |
            @Html.ActionLink("Details", "GetBuyerAsync", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteBuyerAsync", new { id=item.Id })
        </td>
    </tr>
}

</table>
